@import "~@jet-lab/jet-antd/lib/jet-antd.less";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

:root {
  @grey: #949494;
  --grey: @grey;
  @disabled-opacity: 0.6;
}

/* Styles between these lines should be included at the next version of the jet-antd library */
button.inactive {
  filter: blur(2px);
}
.ant-modal-content {
  min-height: 300px !important;
  max-width: 300px !important;
  padding: @spacing-xl !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    text-decoration: underline;
    margin: 0;
    &:hover {
      // add text gradient on hover
      // TODO: make sure underline doesn't disappear on hover
      opacity: 1;
      background-image: @gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .ant-modal-footer {
    flex-direction: column-reverse;
    & button.ant-btn:first-of-type {
      background: transparent;
      span {
        color: @dark-grey
      }
      &:active {
        box-shadow: none;
      }
    }
  }
}
/* Styles between these lines should be included at the next version of the jet-antd library */

/* App-specific styling */
/* This is an extension of the jet-antd library for the purposes of this UI only */
.column-grid {
  display: grid !important;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 30px;
  justify-content: center;
}

.italics {
  font-style: italic;
}

strong {
  font-weight: @subheader-weight;
}

.nav-link {
  display: flex;
  align-items: center;
  &.highlight {
    background: #e5ebf4 -webkit-gradient(linear, 100% 0, 0 0, from(#e5ebf4), color-stop(0.5, #a9aaab), to(#e5ebf4));
    background-position: 50px top;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation-name: shimmer;
    -webkit-animation-duration: 5.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-background-size: 50px 100%;
  }
}

@keyframes highlight {
  0% {
    background-position: -500% top;
  }

  100% {
    background-position: 500% top;
  }
}

.badge {
  box-shadow: 800px 0 0 0 @white inset;
  height: 15px;
  min-width: 15px;
  padding: 3px;
  border-radius: 50%;
  display: inline-block;
  color: @black;
  text-align: center;
}

.neu-container {
  box-shadow: @neu-shadow !important;
  border-radius: @border-radius;
  padding: @spacing-xl;
}
.neu-inset {
  padding: @spacing-xl;
  mix-blend-mode: normal;
  box-shadow: @neu-shadow-inset;
  border-radius: @border-radius;
}

.proposal-card.ant-card {
  height: 220px;
  width: 220px;
  padding: 15px;
  margin: 0 @spacing-xl @spacing-xl 0;
  .header,
  .details {
    font-size: @base-font-size;
    color: @dark-grey;
  }
  .ant-card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 0 !important;
  }
  .ant-progress-bg {
    background: @white !important;
  }
  .ant-progress-success-bg {
    background: var(--jet-green) !important;
  }
  .ant-progress-inner {
    background: @failure !important;
  }
}

p {
  margin: 20px auto;
}
h1 {
  font-size: 25px !important;
}

.ant-layout-content {
  display: flex;
  background-color: @white;
  margin-top: @nav-height;
  .panel {
    margin: 0 10px;
  }
  .content-body {
    margin: auto;
  }
}

/* Styles for home page */

#home {
  grid-auto-rows: 250px;
  #your-info {
    grid-row: 1 / 3;
    .staked-balance {
      padding-bottom: 10px;
      line-height: 90%;
    }
    .stake-info {
      background: #e0e7f2;
      box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.75),
        inset 0px 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      margin-bottom: 82px;
      width: 230px;
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
    #wallet-overview {
      width: 100%;
      #current-staking-apr span {
        font-weight: 500;
        font-size: 15px;
      }
      span {
        color: @black;
        font-size: 13px;
      }
    }

    #staking-input {
      position: relative;
      width: 100%;
      input {
        position: relative;
        font-size: 20px;
        padding-left: 50px;
        padding-right: 80px;
      }
      span {
        font-size: 24px;
        color: @dark-grey;
      }
      .token-abbrev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: @spacing-md;
        padding: unset;
      }
      img {
        width: 25px;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: @spacing-md;
      }
    }
  }
  #terms-conditions {
    grid-row-start: 3;
    grid-column: 1 / 1;
    p {
      margin: 0;
    }
  }
  #show-proposals {
    grid-row-start: 1;
    grid-column: 2 / span 3;
    #proposal-cards {
      display: inline-grid;
      grid-gap: 30px;
      grid-template-columns: 250px 250px 250px;
      grid-template-rows: 250px 250px 250px;
      a {
        margin: 0;
      }
    }
  }

  .filter-status {
    span {
      padding: 0 10px;
      cursor: pointer;
    }
    span:last-child {
      padding-right: 0;
    }
    div {
      padding-right: 9px;
      display: flex;
      align-items: center;
      i {
        margin: 0;
        padding-right: 7px;
        font-size: 6px;
        margin-bottom: 3px;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
  }
}

/* Proposal page */
.proposal {
  #proposal-left {
    grid-column: 1 / 4;
  }
  .description {
    padding: 39px 36px;
    margin-bottom: 39px;
    display: flex;
    flex-direction: column;
    p {
      font-size: 15px;
      line-height: 26px;
      margin-bottom: 26px;
    }
    #details {
      display: grid;
      grid-template-columns: 150px 1fr;
      grid-auto-flow: dense;
    }
  }
  .ant-divider-horizontal {
    grid-column: 1 / 5;
  }
  .other-proposals {
    grid-column: 1 / 5;
    div {
    overflow-y: scroll;
    flex-wrap: wrap;
  }}
}

/* Vote selector */
button,
.ant-btn {
  &.vote-select {
    box-shadow: @neu-shadow;
    background: unset;
    text-transform: uppercase;
    background-clip: content-box, border-box;
    span {
      opacity: 1;
      background-image: linear-gradient(135deg, #3d9e83 25%, #278db6 85%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &:hover {
      box-shadow: @neu-shadow-low;
    }
    &.selected {
      box-shadow: @neu-shadow-inset !important;
    }
  }
}

#vote-turnout {
  margin-bottom: 39px;
  .results {
    margin-bottom: 37px;
    flex-grow: 1;
    padding-right: 20px;
    .results-header {
      font-family: "Poppins", sans-serif;
      font-size: 10px;
      line-height: 10px;
      margin-top: 6px;
      span {
        font-family: "Helvetica Neue";
        font-size: 8px;
        -webkit-text-fill-color: @black !important;
      }
    }
  }
  .voters {
    flex-grow: 1;
    #csv {
      cursor: pointer;
    }
  }

  /* Overrides for jet-antd and stakeholders  */
  .ant-list-item {
    border-bottom: none;
    padding: 0;
  }
  .ant-list {
    padding: 0;
    box-shadow: none;
    button {
      background: @white;
      span {
        opacity: 1;
        background-image: linear-gradient(135deg, #3d9e83 25%, #278db6 85%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &:active {
        box-shadow: none;
      }
    }
  }
  .your-vote {
    border-radius: 30px;
    box-shadow: @neu-shadow-inset;
    margin-bottom: -10px;
  }
  .stakeholders {
    display: flex;
    line-height: @base-font-size;
    letter-spacing: 0.05em;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    .voter {
      color: @dark-grey;
      text-transform: uppercase;
      width: 25%;
      text-align: left;
      font-size: @xs-font-size !important;
      padding-left: 10px;
    }
    .address {
      width: 25%;
      text-align: left;
      overflow-x: auto;
      font-size: @sm-font-size !important;
    }
    .amount {
      width: 25%;
      text-align: left;
      margin-right: 21px;
      font-size: @sm-font-size !important;
    }
    .vote {
      width: 25%;
      text-align: left;
      text-transform: uppercase;
      font-size: @sm-font-size !important;
    }
    .title {
      font-size: @xs-font-size !important;
    }
  }
}

#airdrop {
  grid-column: 2 / 4;
  .ant-progress-bg {
    height: 31px !important;
  }
  .avail-list {
    padding: 10px 0;
  }
  .avail-info {
    width: 85%;
  }
  .claim-button {
    width: 15%;
  }
  .announced {
    filter: blur(3px);
  }
}

.gray {
  color: @dark-grey;
}
