@import "~@jet-lab/jet-antd/lib/jet-antd.less";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

:root {
  @grey: #949494;
  --grey: @grey;
  @dark-white: #d8dfec;
  --dark-white: @dark-white;
  @disabled-opacity: 0.6;
  --gradient: @gradient;
  --mobile-round-radius: 15px;
  @keyframes rotate {
    100% {
      transform: rotate(-360deg);
    }
  }
}

.jet-app {
  .hidden {
    display: none;
  }

  .fas {
    font-style: unset !important;
  }

  button.inactive {
    filter: blur(1px);
  }

  .ant-modal-content {
    p {
      margin: 10px auto;
    }
    h2 {
      margin: 15px auto -5px 0;
    }
  }
  .ant-modal-close span {
    display: none !important;
  }
  .ant-notification {
    .anticon {
      font-size: @lg-font-size !important;
    }
    .anticon-close {
      display: none !important;
    }
  }

  .ant-tooltip.no-arrow .ant-tooltip-arrow {
    display: none !important;
  }

  code {
    font-family: monospace;
  }
  .ant-progress-bg,
  .ant-progress-success-bg {
    border-radius: 0 !important;
  }
  .ant-btn .ant-btn-loading-icon {
    padding-right: @spacing-sm;
    .anticon svg {
      animation: loadingCircle 1s infinite linear;
      path {
        fill: @white !important;
      }
    }
  }

  /* App-specific styling */
  /* This is an extension of the jet-antd library for the purposes of this UI only */
  .antd-country-phone-input {
    input {
      height: 55px;
    }
    .ant-select:hover {
      box-shadow: unset !important;
    }
  }
  .ant-select-dropdown {
    z-index: 1000;
    max-width: 265px;
  }

  .column-grid {
    display: grid !important;
    grid-template-columns: repeat(8, 110px);
    grid-gap: 30px;
    justify-content: center;
    .centered {
      grid-column: 2 / 8 !important;
    }
  }
  .neu-container {
    box-shadow: @neu-shadow !important;
    border-radius: @border-radius;
    padding: @spacing-xl;
  }
  .neu-inset {
    padding: @spacing-xl;
    mix-blend-mode: normal;
    box-shadow: @neu-shadow-inset;
    border-radius: @border-radius;
  }
  strong,
  .bold {
    font-weight: @subheader-weight !important;
  }
  h1 {
    font-size: 25px !important;
  }
  svg {
    cursor: pointer;
  }
  .secondary-text {
    color: @dark-grey;
    margin: unset;
  }

  .wide .ant-modal-content {
    max-width: unset !important;
  }

  /* Navbar and connect wallet */
  .connect-wallet-btn {
    text-transform: none;
  }

  .ant-layout-content {
    transition: margin-left @transition-duration ease-in-out;
  }
  nav.drawer-open + .ant-layout-content {
    margin-left: -50vw;
  }
  nav {
    .left-container-logo {
      height: 80%;
    }
    .nav-link {
      display: flex;
      align-items: center;
    }
    button.secondary-btn,
    .ant-btn.secondary-btn {
      color: rgb(var(--lt-white));
      border: 1px solid rgb(var(--lt-white));
    }
    .badge {
      box-shadow: 800px 0 0 0 rgb(var(--lt-white)) inset;
      height: 15px;
      min-width: 15px;
      padding: 1px 2px 3px 2px;
      margin-left: @spacing-xs;
      margin-right: @spacing-lg;
      border-radius: 50%;
      display: inline-block;
      color: @black;
      text-align: center;
      span {
        margin: 0 -1px 0 -1px !important;
      }
    }
  }
  .connect-wallet-modal p {
    margin: unset;
  }
  .padding-right {
    padding-right: @spacing-sm;
  }
  .ant-modal-content div.emphasis {
    -webkit-box-sizing: border-box;
    border-radius: @border-radius;
    border: 1px solid transparent;
    background-image: @gradient, @gradient;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 800px 0 0 0 @white inset;
    padding: @spacing-xs @spacing-sm;
    margin: @spacing-xs 0;
    p {
      background-image: @gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0;
    }
  }

  .shimmer {
    display: inline-block;
    background: #e5ebf4 -webkit-gradient(linear, 100% 0, 0 0, from(#e5ebf4), color-stop(0.5, #a9aaab), to(#e5ebf4));
    background-position: 50px top;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation-name: shimmer;
    -webkit-animation-duration: 5.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-background-size: 50px 100%;
    &.active,
    &:hover {
      -webkit-text-fill-color: unset;
    }
  }
  @keyframes shimmer {
    0% {
      background-position: -4rem top;
      /*50px*/
    }
    70% {
      background-position: 12.5rem top;
      /*200px*/
    }
    100% {
      background-position: 12.5rem top;
      /*200px*/
    }
  }

  /* Verify modal flow */
  .ant-input-affix-wrapper {
    position: relative;
    width: 100%;
    min-width: 0;
    color: rgba(0, 0, 0, 0.85);
    background-image: none;
    border-radius: 2px;
    transition: all 0.3s;
    display: flex !important;
    align-items: center;
    box-shadow: @neu-shadow-inset;
    &::before {
      width: 0;
      visibility: hidden;
      content: "\a0";
    }
    input {
      box-shadow: unset;
      background: transparent;
      &.ant-input {
        padding: 0 10px 0 10px;
      }
      &:focus {
        box-shadow: none;
      }
    }
    .ant-input-prefix {
      width: 85px;
      .ant-select-selection-search-input {
        width: 85px;
      }
      .ant-select-single .ant-select-selector {
        .ant-select-selection-item,
        .ant-select-selection-placeholder {
          padding: 0;
          line-height: 30px;
          transition: all 0.3s;
        }
      }
      .ant-select-arrow {
        transform: translate(-130%, -50%);
        z-index: -1;
      }
    }
    .ant-select-selection-search {
      display: unset;
    }
    .ant-select-dropdown-hidden {
      display: none;
    }
    .ant-select-single .ant-select-selector {
      display: flex;
      align-items: center;
      max-height: 15px;
      min-width: 30px;
      .ant-select-selection-item:after,
      .ant-select-selection-placeholder:after,
      &:after {
        display: inline-block;
        width: 0;
        visibility: hidden;
        content: "\a0";
      }
    }
    .ant-select-selection-item {
      flex: 1 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: absolute;
    }
    .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
      cursor: text;
    }
    .ant-select {
      min-width: 95px;
      margin: 0;
      border-radius: 0;
      box-shadow: none;
      padding: 0 5px;
      cursor: text;
    }
  }
  .rc-virtual-list-holder-inner {
    background: @grey;
  }
  .ant-select-dropdown .rc-virtual-list {
    z-index: 1001;
    width: 60%;
  }

  /* Staking input */
  .staking-input-layout {
    position: relative;
    width: 100%;
    margin-top: @spacing-lg;
  }

  .legend-input {
    font-size: 20px !important;
    color: @dark-grey;
  }

  .token-abbrev {
    position: absolute;
    top: 58%;
    transform: translateY(-65%);
    right: @spacing-lg;
    padding: unset;
  }

  .staking-input {
    position: relative;
    font-size: 20px;
    height: 55px;
    padding: 9px 55px 9px 50px;
  }

  .staking-input-icon {
    width: 25px;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: @spacing-md;
  }

  /* Your Info section */
  .title-info {
    font-size: @sm-font-size;
    line-height: 18px;
  }

  .divider-info {
    background: #444444;
    box-shadow: none;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .box-info {
    padding: 15px 16px;
    mix-blend-mode: normal;
    box-shadow: @neu-shadow-inset;
    border-radius: @border-radius;
  }

  .info-legend-item {
    margin-top: @spacing-xs;
  }

  .info-legend-item-prefill {
    cursor: pointer;
    .text-btn {
      text-decoration: underline;
    }
  }

  .vote-balance {
    padding-bottom: 16px;
    margin-bottom: 15px;
    padding-top: 23px;
    line-height: 35px;
    font-size: 68px;
    max-width: 216px;
    overflow: hidden;
  }

  .resize-font-size-more-than-7-char {
    font-size: clamp(1rem, -0.875rem + 8.333vw, 2.8rem);
  }

  .resize-font-size-more-than-9-char {
    font-size: clamp(1rem, -0.875rem + 8.333vw, 2.2rem);
  }

  .resize-font-size-more-than-13-char {
    font-size: clamp(1rem, -0.875rem + 8.333vw, 1.5rem);
  }

  .resize-font-size-more-than-16-char {
    font-size: clamp(1rem, -0.875rem + 8.333vw, 1.1rem);
  }

  .resize-font-size-more-than-22-char {
    font-size: clamp(0.5rem, 0.5rem + 0.5vw, 0.79rem);
  }

  .resize-font-size-more-than-30-char {
    font-size: clamp(0.5rem, 0.5rem + 0.5vw, 0.79rem);
    overflow-wrap: break-word;
  }

  .action-btn-info {
    padding: 7px 20px;
    font-size: @sm-font-size;
    margin: 3px 0 3px 0;
  }

  .wallet-overview {
    width: 100%;
  }

  .staking-info {
    color: @black;
  }

  .current-staking-apr {
    font-weight: 500;
    margin-bottom: 0;
  }

  .cluster {
    margin: 2px 0px;
    font-size: @xs-font-size;
  }

  .your-info {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    .full-width.withdraw-btn {
      max-width: 90%;
      align-self: center;
    }
  }

  .ant-btn {
    margin: @spacing-xs 0 !important;
  }

  .airdrops i {
    margin: @spacing-md @spacing-sm 0 @spacing-sm;
    opacity: @disabled-opacity;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  /* Home page */
  .title-home {
    font-size: @sm-font-size;
    line-height: 18px;
  }

  .home {
    .neu-inset {
      margin-bottom: 20px;
    }
    .show-proposals {
      grid-row-start: 1;
      grid-column: 3 / span 6;
      #proposal-cards {
        display: inline-grid;
        grid-gap: 30px;
        grid-template-columns: 250px 250px 250px;
        a {
          margin: 0;
        }
      }
    }

    .filter-status-item {
      padding: 0 10px;
      cursor: pointer;
      &:hover,
      &.active {
        text-decoration: underline;
      }
    }
    .filter-status-item:last-child {
      padding-right: 0;
    }

    .details {
      display: flex;
      flex-direction: column;
    }
  }

  .view {
    z-index: 0;
  }

  .vote-btn {
    padding: @spacing-sm @spacing-xl @spacing-sm @spacing-xl !important;
    box-shadow: @neu-shadow-low;
    background: @white !important;
    &:active {
      box-shadow: @neu-shadow-inset !important;
    }
    &.selected {
      box-shadow: @neu-shadow-inset-low !important;
      background: @grey !important;
    }
    &[disabled] {
      cursor: not-allowed;
      opacity: @disabled-opacity;
      &:active {
        box-shadow: @neu-shadow-low !important;
      }
    }
  }

  .vote-turnout {
    margin-bottom: 39px;
    .results {
      margin: 15px 20px 37px 0;
      flex-grow: 1;
      .amount {
        margin-left: 20px;
        font-size: @sm-font-size !important;
      }
    }
    .voters {
      flex-grow: 1;
    }

    /* Overrides for jet-antd >> stakeholders  */
    .ant-list-item {
      border-bottom: none;
      padding: 0;
    }
    .ant-list {
      padding: 0;
      box-shadow: none;
      button {
        background: @white;
        span {
          opacity: 1;
          background-image: linear-gradient(135deg, #3d9e83 25%, #278db6 85%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &:active {
          box-shadow: none;
        }
      }
    }
    .your-vote {
      border-radius: 30px;
      box-shadow: @neu-shadow-inset;
      margin-bottom: -10px;
    }
    .stakeholders {
      display: flex;
      line-height: @base-font-size;
      letter-spacing: 0.05em;
      width: 100%;
      padding-top: 3px;
      padding-bottom: 3px;
      .voter {
        color: @dark-grey;
        text-transform: uppercase;
        width: 25%;
        text-align: left;
        font-size: @xs-font-size !important;
        padding-left: 10px;
      }
      .address {
        width: 25%;
        text-align: left;
        overflow-x: auto;
        font-size: @sm-font-size !important;
      }
      .amount {
        width: 25%;
        text-align: left;
        margin-right: 21px;
        font-size: @sm-font-size !important;
      }
      .vote {
        width: 25%;
        text-align: left;
        text-transform: uppercase;
        font-size: @sm-font-size !important;
      }
      .title {
        font-size: @xs-font-size !important;
        text-transform: uppercase;
      }
    }
  }

  .no-pointer svg {
    cursor: unset;
  }

  /* Proposals */
  .view {
    z-index: 0;
  }

  .vote-btn {
    padding: @spacing-sm @spacing-xl @spacing-sm @spacing-xl !important;
    box-shadow: @neu-shadow-low;
    background: @white !important;
    &:active {
      box-shadow: @neu-shadow-inset !important;
    }
    &.selected {
      box-shadow: @neu-shadow-inset-low !important;
      background: @grey !important;
    }
    &[disabled] {
      cursor: not-allowed;
      opacity: @disabled-opacity;
      &:active {
        box-shadow: @neu-shadow-low !important;
      }
    }
  }

  .vote-turnout {
    margin-bottom: 39px;
    .results {
      margin: 15px 20px 37px 0;
      flex-grow: 1;
      .amount {
        margin-left: 20px;
        font-size: @sm-font-size !important;
      }
    }
    .voters {
      flex-grow: 1;
    }

    /* Overrides for jet-antd >> stakeholders  */
    .ant-list-item {
      border-bottom: none;
      padding: 0;
    }
    .ant-list {
      padding: 0;
      box-shadow: none;
      button {
        background: @white;
        span {
          opacity: 1;
          background-image: linear-gradient(135deg, #3d9e83 25%, #278db6 85%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &:active {
          box-shadow: none;
        }
      }
    }
    .your-vote {
      border-radius: 30px;
      box-shadow: @neu-shadow-inset;
      margin-bottom: -10px;
    }
    .stakeholders {
      display: flex;
      line-height: @base-font-size;
      letter-spacing: 0.05em;
      width: 100%;
      padding-top: 3px;
      padding-bottom: 3px;
      .voter {
        color: @dark-grey;
        text-transform: uppercase;
        width: 25%;
        text-align: left;
        font-size: @xs-font-size !important;
        padding-left: 10px;
      }
      .address {
        width: 25%;
        text-align: left;
        overflow-x: auto;
        font-size: @sm-font-size !important;
      }
      .amount {
        width: 25%;
        text-align: left;
        margin-right: 21px;
        font-size: @sm-font-size !important;
      }
      .vote {
        width: 25%;
        text-align: left;
        text-transform: uppercase;
        font-size: @sm-font-size !important;
      }
      .title {
        font-size: @xs-font-size !important;
        text-transform: uppercase;
      }
    }
  }

  .no-pointer svg {
    cursor: unset;
  }

  /* Past Proposals */
  #past-proposals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: @grey;
    left: -4px;
    bottom: -50px;
    position: relative;
    width: 102%;
    & > * {
      width: 92%;
      padding: 0 4%;
    }
    .title {
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      padding-top: @xl-font-size;
      #filter {
        position: absolute;
        right: 0;
        top: 85px;
        width: 100px;
        ul {
          padding: 0;
          margin: 0;
          li {
            text-align: right;
            line-height: 35px;
            background-color: @grey;
            cursor: pointer;
            &:hover {
              background-color: @dark-grey;
            }
          }
        }
      }
    }
    .past-proposal-card.ant-card {
      max-width: unset;
      width: unset;
      box-shadow: unset;
      padding: 0;
      margin: 0;
      .ant-card-body {
        padding: 0;
        div {
          display: flex !important;
          flex-direction: row;
          align-items: center;
          & > * {
            width: 25%;
            font-size: @lg-font-size !important;
            margin: @spacing-md 0;
          }
          &.details {
            div {
              border-radius: 50px;
              padding: 5px 7px;
              width: unset;
              text-transform: uppercase;
              font-weight: 600;
              color: @white;
              font-size: @xs-font-size !important;
            }
          }
          h1 {
            width: 50%;
            font-weight: 400;
            line-height: @lg-font-size;
          }
          .arrow {
            width: 10%;
            justify-content: flex-end;
          }
        }
      }
    }
    p {
      text-align: center;
      color: @dark-grey;
      padding-bottom: @xl-font-size;
    }
  }

  /* Proposal card component */
  span,
  p,
  .proposal-card.ant-card .header,
  .ant-card-body .details {
    font-size: @sm-font-size !important;
    display: unset !important;
  }

  .proposal-card.ant-card {
    height: 220px;
    width: 220px;
    padding: 15px;
    margin: 0 @spacing-xl @spacing-xl 0;
    .header,
    .details {
      font-size: @base-font-size;
      color: @dark-grey;
    }
    h1 {
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 105px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .ant-card-body {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      padding: 0 !important;
    }
    .ant-progress-bg {
      background: @white !important;
      border-radius: 0;
    }
    .ant-progress-success-bg {
      background: var(--jet-green) !important;
    }
    .ant-progress-inner {
      background: @failure !important;
    }
  }

  .ant-layout-content {
    display: flex;
    background-color: @white;
    justify-content: center;
    .panel {
      margin: 0 10px;
    }
    .content-body {
      margin: auto;
    }
  }

  /* Proposal page */
  #proposal-page {
    #csv {
      cursor: pointer;
      margin-left: 20px;
      margin-bottom: @header-font-size;
      align-self: flex-end;
    }
    .proposal-left {
      grid-column: 1 / 7;
      a {
        margin: 0;
      }
    }
    .proposal-right {
      grid-column: 7 / 9;
      .helper-text {
        width: 80%;
        align-self: center;
        color: @black;
        font-size: @xs-font-size !important;
        text-align: center;
        padding: 0 @spacing-sm;
      }
    }

    .description-text {
      font-size: @base-font-size;
      p {
        margin-top: @spacing-xs;
        margin-bottom: @spacing-xs;
      }
      a {
        opacity: 1;
        background-image: linear-gradient(135deg, #3d9e83 25%, #278db6 85%);
        background-image: linear-gradient(135deg, var(--jet-green) 25%, var(--jet-blue) 85%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      margin-bottom: @spacing-xl;
    }

    .description-title {
      margin-top: 43px;
      margin-bottom: 15px;
    }

    .description {
      padding: 39px 36px;
      margin-bottom: 39px;
      display: flex;
      flex-direction: column;
      &:first-of-type span {
        margin-left: 0 !important;
      }
    }

    .details {
      display: grid;
      grid-template-columns: 150px 1fr;
      grid-auto-flow: dense;
      span {
        overflow: scroll;
      }
    }
    .ant-divider-horizontal {
      grid-column: 1 / 9;
    }
    .other-proposals {
      grid-column: 1 / 9;
      div:first-child {
        overflow-y: scroll;
        flex-wrap: wrap;
      }
    }
  }

  #airdrop {
    max-width: 525px;
    margin: 0 auto;

    h1 {
      margin: unset;
    }
    p {
      margin: @spacing-sm 0;
    }
    .ant-progress-bg {
      height: 31px !important;
    }
    .avail-list {
      padding: 10px 0;
      width: 100%;
    }
    .avail-info {
      width: 85%;
    }
    .claim-button {
      max-height: 2 * @lg-font-size;
      min-width: 4 * @spacing-lg;
      align-self: flex-end;
    }
    .announced {
      filter: blur(2px);
    }
  }
  // Claims
  #airdrop-view {
    .spacer {
      grid-row-start: 2;
    }
    .footer-links {
      grid-row-start: 19;
      grid-column: 2 / 4;
    }
    a {
      margin: 0 @spacing-xs;
    }
  }
  .gray {
    color: @dark-grey;
  }

  // Flight Logs
  #flight-logs-view {
    grid-template-rows: auto 1fr auto;
    .neu-container {
      padding-top: @spacing-xs;
      padding-bottom: @spacing-sm;
    }
    #flight-log {
      max-width: 775px;
      margin: 0 auto;
    }
    .spacer {
      grid-row-start: 2;
    }
    .footer-links {
      grid-row-start: 3;
      grid-column: 2 / 4;
    }
    table {
      margin-top: @spacing-xl;
      svg {
        path {
          fill: @jet-green;
        }
      }
      tr {
        display: flex;
        th {
          min-width: unset;
          padding-bottom: @spacing-xs;
          flex: 1;
          &.action {
            flex: 4;
          }
        }
        td {
          flex: 1;
          display: flex;
          align-items: center;
          &.tooltip {
            justify-content: space-between;
          }
          &.action {
            flex: 4;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            button {
              margin-right: @spacing-lg !important;
            }
            &.load-more {
              justify-content: center;
            }
          }
          &:last-of-type {
            padding: unset;
            text-align: center;
            opacity: 0;
            transition: opacity @transition-duration ease-in-out;
            i {
              color: @jet-green;
            }
          }
        }
        &:last-of-type {
          .load-more {
            padding: unset;
            text-align: center;
          }
        }
        &:hover {
          td:last-of-type {
            opacity: 1;
          }
        }
        span {
          font-size: @base-font-size;
          color: @jet-green;
        }
      }
    }
  }

  // Navbar
  .navbar-container nav button {
    margin-left: @spacing-lg !important;
  }

  .footer-link-pad {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  // Spinning Loader
  .loader {
    left: 0;
    top: 0;

    &.fullview {
      position: absolute;
      width: 100%;
      height: calc(100vh - @nav-height);
    }
    &.button {
      .outer-circle {
        width: 35px;
        height: 35px;
        margin: unset;
      }
      .inner-circle {
        box-shadow: unset;
      }
    }

    .outer-circle {
      position: relative;
      margin: 10px auto;
      width: 100px;
      height: 100px;
      border-radius: 100%;
    }
    .inner-circle {
      z-index: 2;
      position: absolute;
      top: calc(50% - 40%);
      left: calc(50% - 40%);
      width: 80%;
      height: 80%;
      border-radius: 100%;
      background: @white;
      box-shadow: -2px -2px 6px 0px @light-shadow, 2px 2px 6px 0px @dark-shadow,
        inset 0px 0px 0px 0px @light-shadow, inset 0px 0px 0px 0px @dark-shadow;

      img {
        width: 100%;
        height: auto;
        animation: rotate 1.15s ease-in-out infinite;
      }
    }
  }

  // Settings View
  .settings {
    width: 350px;
    padding: @spacing-lg;
    box-shadow: @neu-shadow-low;
    border-radius: @border-radius;

    .setting {
      &-title {
        margin: @spacing-sm 0 0 0;
      }

      input {
        width: 275px;
      }

      &.wallet {
        cursor: pointer;

        div {
          margin: @spacing-sm 0;
        }
        img {
          margin: 0 @spacing-xs;
        }
        .wallet-address {
          margin: @spacing-xs;
        }
        button {
          margin: 0 @spacing-xs !important;
          svg {
            opacity: 0.5;
            margin-right: @spacing-sm;
          }
        }
      }

      .theme-toggle-container {
        width: 100px;
      }

      .ant-select-selection-search {
        display: none !important;
      }
    }

    .socials {
      a {
        margin: @spacing-sm;
        opacity: @subtle-opacity;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  #rc_select_0_list + .rc-virtual-list {
    width: 100%;
  }

  /* Withdraw and restake buttons */
  .withdraw-btn {
    background: @light-green-1 !important;
    border-radius: @round-radius !important;
    padding: @secondary-btn-padding !important;
    span {
      color: inherit !important;
    }
    &:hover {
      background: @light-green-2 !important;
    }
  }
  .restake-btn {
    border-radius: @round-radius !important;
    padding: @secondary-btn-padding !important;
    &::before {
      border-radius: @round-radius !important;
    }
    &::after {
      border-radius: @round-radius !important;
    }
  }

  // Error Page
  .error-page {
    width: 100vw;
    height: calc(100vh - (@nav-height + (@spacing-lg * 2)));

    img {
      width: 90%;
      max-width: 500px;
      height: auto;
    }

    &-stack {
      border-radius: @border-radius;
      background: rgba(255, 0, 0, 0.15);
      width: 90%;
      max-width: 500px;
      height: 200px;
      overflow-y: hidden;
      font-size: @xs-font-size;
      padding: @spacing-md;
    }
  }

  .mobile-only {
    display: none !important;
  }
  .mobile-message {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - @nav-height);
    background: @white;

    i {
      color: @warning;
      font-size: @header-font-size;
    }
    p {
      width: 95%;
      max-width: 600px;
    }
  }
}

/* Medium devices (tablets, from 840px to 1110px) */
@media only screen and (max-width: 1110px) {
  .jet-app {
    .column-grid {
      grid-template-columns: repeat(6, 110px);
      justify-content: center;
      .centered {
        grid-column: 2 / 6 !important;
      }
    }
    #show-proposals {
      grid-column: 3 / span 4 !important;
      #proposal-cards {
        grid-template-columns: 250px 250px !important;
        a {
          margin: 0;
        }
      }
    }

    .show-proposals {
      grid-column: 3 / span 4 !important;
      #proposal-cards {
        grid-template-columns: 250px 250px !important;
        a {
          margin: 0;
        }
      }
    }

    #proposal-page {
      flex-direction: column;

      .proposal-left,
      .centered {
        .description #details {
          grid-template-columns: 80px 1fr;
        }
        .vote-turnout {
          flex-direction: column;
        }
        .proposal-right {
          position: fixed;
          bottom: 0;
          width: 85%;
          left: 7.5%;
          z-index: 100;

          &::after {
            content: "";
            display: block;
            background: linear-gradient(
              180deg,
              var(--light-shadow) 0%,
              rgba(229, 235, 244, 0) 100%
            );
            transform: rotate(-180deg);
            height: 30px;
            width: 150%;
          }

          #your-vote {
            flex-direction: row;
            justify-content: space-between;
            height: 60px;
            padding: @spacing-md @spacing-xl;
            background: @gradient;

            .ant-btn.ant-btn-lg {
              box-shadow: @drop-shadow;
              height: 60px;
              width: 60px;
              margin: 0;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              &.ant-btn-primary {
                box-shadow: none;
                border: 1px solid @white;
                background: transparent;
              }
            }

            .vote-select {
              background: @white;

              span {
                font-size: 6px !important;
                letter-spacing: 0;
                padding: @spacing-xs 0;
              }
            }
          }
        }
        .ant-divider,
        .other-proposals {
          display: none;
        }
      }
      .ant-list-items {
        box-shadow: none !important;
      }
    }
  }
}

/* Extra small devices (840px and down) */
@media only screen and (max-width: 840px) {
  .jet-app {
    .mobile-only {
      display: inline !important;
    }
    .mobile-message {
      display: flex !important;
    }
    p,
    ul,
    li {
      font-size: @base-font-size !important;
      list-style: none;
    }
    ul {
      border-radius: @border-radius;
      box-shadow: @neu-shadow-low;
      li {
        border-radius: @border-radius;
        padding-right: @spacing-md;
      }
    }
    h1 {
      font-size: 20px !important;
    }
    h2 {
      font-size: 16px !important;
      letter-spacing: 2px;
    }
    .desktop {
      display: none;
    }
    .home {
      .your-info {
        display: none;
      }
    }
    .proposal-card.ant-card .header {
      font-size: @base-font-size !important;
    }
    #csv {
      display: none !important;
    }
    .column-grid {
      display: flex !important;
      &.home {
        flex-direction: column;
        .your-info {
          display: none;
        }
        .show-proposals {
          width: 100%;
          .filter-status {
            display: none;
          }
          #proposal-cards {
            display: flex;
            flex-direction: column;
            a {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .proposal-card.ant-card {
              max-width: unset;
              width: 90%;
              height: 152px;
              margin: 0 @spacing-lg;
              border-radius: var(--mobile-round-radius);
              h1 {
                font-size: 20px !important;
                margin-top: 0;
              }
            }
          }
        }
      }

      #airdrop {
        .avail-list {
          flex-direction: column;
          .avail-info {
            width: 100% !important;
            display: flex;
            flex-direction: column;
            span.gray {
              margin: 0;
            }
            > * {
              padding: @spacing-sm 0;
            }
          }
        }
      }
    }
    #flight-logs-view {
      flex-direction: column;
      .asset {
        text-transform: capitalize;
      }
    }

    .neu-container {
      border-radius: var(--mobile-round-radius);
      margin-left: @spacing-lg;
      margin-right: @spacing-lg;
      padding: @spacing-lg !important;
      .neu-inset {
        padding: @spacing-md;
        &.details {
          grid-template-columns: 90px 1fr !important;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .jet-app {
    .settings {
      width: 100% !important;
      padding: unset !important;
      box-shadow: unset !important;

      .setting {
        input {
          width: 240px !important;
        }
      }
    }
    // Jet Navbar
    .navbar-container {
      nav {
        width: calc(100% - (@spacing-sm * 2));
        padding: 0 @spacing-sm;
        &.mobile {
          display: flex;
          .account img {
            filter: unset;
          }
        }

        .left-container {
          &-logo {
            width: 140px;
          }
          &-hamburger {
            display: flex;
          }
        }

        .right-container {
          .nav-link,
          button {
            display: none;
          }
          &-hamburger {
            display: flex;
          }
        }
      }
      &-drawer.open {
        display: flex;

        .nav-link {
          margin: @spacing-sm 0;
        }
      }
    }
    .terms-privacy.only-show-desktop {
      display: none;
    }
  }
}

// Mobile styling
@media screen and (max-width: 720px) {
  .jet-app {
    // Jet Navbar
    .navbar-container {
      nav {
        width: calc(100% - (@spacing-sm * 2));
        padding: 0 @spacing-sm;
        &.desktop {
          display: none;
        }
        &.mobile {
          display: flex !important;
        }

        .left-container {
          &-logo {
            width: 140px;
          }
          &-hamburger {
            display: flex;
          }
        }

        .right-container {
          .nav-link,
          button {
            display: none;
          }
          &-hamburger {
            display: flex;
          }
        }
      }
      &-drawer.open {
        display: flex;

        .nav-link {
          margin: @spacing-sm 0;
        }
      }
    }

    // Jet Connect Wallet Modal
    .connect-wallet-modal {
      span {
        font-size: @xs-font-size;
      }

      .ant-modal-content {
        width: 100%;
        box-shadow: unset;
      }
    }
  }
}

.terms-privacy-check {
  input {
    display: none;
  }
}

.terms-privacy-legend {
  margin-left: @spacing-xl;
}

#txnSuccess-modal:hover {
  cursor: pointer;
}
