@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');


@font-face {
  font-family: 'Jet-Icons';
  src: url("./fonts/JetIcons-Regular.woff") format('woff');
}

/* General styling & root variables */
:root {
  /* Colors */
  --black: #000000;
  --dark-grey: #9D9D9D;
  --grey: #d8dfec;
  --light-grey: #e1e7f1;
	--white: rgba(229, 235, 244, 1);
  /* Light theme needs slightly darker brand colors for contrast
     Need to adjust brand colors in the future */
	--jet-green: #3d9e83; /* brand: 53bd9f */
	--jet-blue: #278db6; /* brand: 32a5d3 */
  --success: #53bd9f;
  --failure: #ec6a69;

  --input-color: rgba(26, 73, 94, 0.7);
  --gradient: linear-gradient(135deg, var(--jet-green) 25%, var(--jet-blue) 85%);

  /* Base shadow elements */
  --light-shadow: rgb(255, 255, 255);
  --dark-shadow: rgb(175, 186, 214);

  /* Regular neu shadows */
  --neu-shadow-low: -2px -2px 4px var(--light-shadow), 1.5px 1.5px 4px var(--dark-shadow);
  --neu-shadow: -4px -4px 7px var(--light-shadow), 3px 3px 5px var(--dark-shadow);
  
  /* Inset neu shadows */
  --neu-shadow-inset-low: inset -1.25px -1.25px 3px var(--light-shadow), inset 1.25px 1.25px 3px var(--dark-shadow);
  --neu-shadow-inset: inset -2px -2px 4px var(--light-shadow), inset 2px 2px 4px var(--dark-shadow);

  /* Color neu shadows */
  --neu-shadow-inset-success: inset -2px -2px 4px #78d6bb, inset 2px 2px 4px #28866c;
  --neu-shadow-inset-failure: inset -2px -2px 4px #f58d8d, inset 2px 2px 4px #c94646;
  --neu-shadow-inset-gradient-low: inset -1.25px -1.25px 3px #36a3ce, inset 1.25px 1.25px 3px #28866c;
  --neu-shadow-inset-gradient: inset -2px -2px 4px #36a3ce, inset 2px 2px 4px #28866c;

  /* Drop shadow */
  --drop-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);

  /* Transitions */
  --transition: 0.05s ease-in-out;

  /* Disabled elements */
  --disabled-opacity: 0.8;

  /* Standardized spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 18px;
  --spacing-xl: 24px;

  /* Border variables */
  --border-radius: 4px;
  --round-radius: 50px;

  /* Nav */
  --nav-height: 60px;

  /* Button variables */
  --btn-radius: 4px;
  --btn-padding: 7px 16px 6px 16px;

  /* View width clamp */
  --view-clamp: clamp(250px, 95%, 1200px);
}
body {
  position: relative;
	margin: 0;
  margin-top: var(--nav-height);
  font-family: 'Poppins', Helvetica Neue, Helvetica, Arial, sans-serif;
	background: var(--white);
	color: var(--black);
	overflow-x: hidden;
  letter-spacing: 0.25px;
  width: 100vw;
  min-height: calc(100vh - (var(--nav-height) + 30px));
  padding-bottom: 30px;
}
::-webkit-scrollbar {
  display: none;
}
*:focus-visible {
  outline: unset;
}

/* Flexbox */
.flex {
	display: flex;
}
.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-center {
	align-items: center;
}
.align-evenly {
	align-items: space-evenly;
}
.align-between {
	align-items: space-between;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.justify-center {
	justify-content: center;
}
.justify-evenly {
	justify-content: space-evenly;
}
.justify-between {
	justify-content: space-between;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.column {
	flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}


/* Text */
h1, p, th, td, span {
  position: relative;
	margin: unset;
	text-decoration: none;
	color: var(--black);
  font-size: 14px;
}
a, i {
  text-decoration: none;
  margin: var(--spacing-xs);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-style: normal;
}
.text-gradient {
  opacity: 1;
  background-image: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.error-text {
  color: var(--failure);
}
.success-text {
  color: var(--success);
}
.bold-text {
  font-weight: bold;
}
.center-text {
  text-align: center;
}
.jet-icons {
  font-family: 'Jet-Icons';
  font-size: 27px;
}
.section-title {
  font-weight: bold;
  text-transform: uppercase;
  margin: var(--spacing-md) 0;
}
.text-link {
  font-weight: 500;
  cursor: pointer;
}
.text-link:hover, .text-link.active {
  text-decoration: underline;
}
.balance-text {
  width: 100%;
  text-align: left;
  font-size: 45px;
  line-height: 45px;
}

/* Disabled elements */
.disabled {
  cursor: not-allowed;
  opacity: var(--disabled-opacity);
}

/* Views */
.view-container {
	width: var(--view-clamp);
  padding: var(--spacing-sm) 0;
  margin: 0 auto;
}
.view-section {
  margin: var(--spacing-md) var(--spacing-lg);
}
.view-title {
  font-size: 35px;
  letter-spacing: 5px;
}
.view-header {
  font-size: 90px;
  line-height: 105px;
  opacity: 1;
}
.view-header span {
  font-size: 30px;
  line-height: 35px;
  position: absolute;
  top: 10px;
  opacity: 1;
}
.view-subheader {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 9px;
  opacity: 0.85;
}

/* Modals */
.modal-bg {
  width: 100%;
  height: calc(100% - var(--nav-height));
  position: fixed;
  top: var(--nav-height);
  left: 0;
  background: var(--white);
  opacity: 0.9;
}
.modal {
  position: fixed;
  top: calc(50% + var(--nav-height)/2);
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 275px;
  max-width: 700px;
  box-shadow: var(--neu-shadow-low);
  background: var(--white);
  border-radius: var(--border-radius);
}
.modal-section {
  margin: var(--spacing-xs) 0;
}
.modal-detail {
  width: 200px;
}
.modal-header {
  font-size: 45px;
  line-height: 50px;
}
.modal-subheader {
  font-size: 38px;
}
.modal .close {
  position: absolute;
  top: var(--spacing-md);
  right: var(--spacing-md);
  font-size: 15px;
  font-weight: 150;
  cursor: pointer;
  color: var(--black);
  opacity: var(--disabled-opacity);
}
.modal span {
  font-size: 12px;
}

/* Dividers */
.divider {
  width: 100%;
  height: 3px;
  margin: var(--spacing-sm) 0;
  border-radius: var(--border-radius);
  box-shadow: var(--neu-shadow-inset-low);
  background: var(--grey);
}
.secondary-divider {
  width: 100%;
  height: 1px;
  margin: var(--spacing-sm) 0;
  border-radius: var(--border-radius);
  background: var(--black);
}

/* Info icon */
.info {
  color: var(--black);
  opacity: var(--disabled-opacity);
  font-size: 9px;
  line-height: 9px;
  cursor: pointer;
  transition: opacity var(--transition);
}
.info:hover {
  opacity: 1;
}
.trade-section .info {
  color: var(--white);
}

/* Inputs */
input {
  width: 100%;
  padding: var(--spacing-md) var(--spacing-lg);
  margin: var(--spacing-xs) 0;
  box-shadow: var(--neu-shadow-inset);
  background: var(--grey);
  color: var(--input-color);
  font-size: 13px;
  border: none;
  border-radius: var(--border-radius);
  transition: box-shadow var(--transition);
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}
input::placeholder {
  opacity: var(--disabled-opacity);
}
input:hover, input:focus {
  box-shadow: var(--neu-shadow-inset-low);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
input.error {
  border-color: var(--failure);
}
input.error::placeholder {
  color: var(--failure);
}
.disabled-input input {
  cursor: not-allowed;
}

/* Dropdown selects */
.dropdown {
  position: relative;
}
.dropdown i {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 13px;
}
select {
  position: relative;
  padding: var(--spacing-sm) 30px var(--spacing-sm) var(--spacing-xl);
  border: none;
  background: var(--white);
  cursor: pointer;
  box-shadow: var(--neu-shadow);
  color: var(--black);
  border-radius: var(--border-radius);
  transition: box-shadow var(--transition);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select:hover {
  box-shadow: var(--neu-shadow-low);
}
select::after {
  content: '>';
  position: absolute;
  top: 0;
  right: 0;
}

/* Buttons */
/* button {
  background: var(--gradient);
  color: var(--white);
  border: none;
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  margin: var(--spacing-xs);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 12px;
  font-weight: 500;
  transition: opacity var(--transition), background-color var(--transition);
  white-space: nowrap;
} */
/* button:hover, button:active {
  opacity: var(--disabled-opacity);
}
button:active {
  box-shadow: var(--neu-shadow-inset-gradient);
} */
/* .small-btn {
  font-size: 10px;
} */
.connect-btn, .secondary-btn {
  background: transparent;
  border: 1px solid var(--grey);
  padding: var(--btn-padding);
  color: var(--grey);
  text-transform: unset;
}
.connect-btn:active, .secondary-btn:active {
  box-shadow: unset;
}
.error-btn {
  background: var(--failure);
}
.error-btn:active {
  box-shadow: var(--neu-shadow-inset-failure);
}
.disabled-btn {
  cursor: not-allowed;
  opacity: var(--disabled-opacity);
}
.disabled-btn:active {
  box-shadow: unset;
}

/* Connect Wallet Modal */
.connect-wallet-modal .modal-bg {
  z-index: 102;
}
.connect-wallet-modal .modal {
  padding: var(--spacing-lg) var(--spacing-md);
  z-index: 103;
}
.connect-wallet-modal .wallets {
  margin: var(--spacing-md);
  position: relative;
}
.connect-wallet-modal .wallet {
  width: 200px;
  margin: var(--spacing-xs) 0;
  padding: var(--spacing-sm) var(--spacing-lg);
  cursor: pointer;
  border-radius: 50px;
}
.connect-wallet-modal .wallet img {
  margin: 0 var(--spacing-md);
}
.connect-wallet-modal .wallet .jet-icons {
  opacity: 0;
  margin-left: var(--spacing-lg);
}
.connect-wallet-modal .wallet:hover, 
.connect-wallet-modal .wallet:active, 
.connect-wallet-modal .wallet.active {
  background: var(--grey);
  box-shadow: var(--neu-shadow-inset);
}
.connect-wallet-modal .wallet:hover .jet-icons, 
.connect-wallet-modal .wallet:active .jet-icons, 
.connect-wallet-modal .wallet.active .jet-icons {
  opacity: 1;
}
.connect-wallet-modal span {
  font-size: 12px;
  margin: var(--spacing-sm);
}
.connect-wallet-modal p {
  font-size: 14px;
}

/* Toggle and Native/USD Toggle */
.outside {
  margin: var(--spacing-sm) 0;
  width: calc(100% - 12px);
  background: var(--grey);
  border-radius: var(--round-radius);
  box-shadow: var(--neu-shadow-inset);
  cursor: pointer;
  transition: all var(--transition);
}
.outside:hover {
  box-shadow: var(--neu-shadow-inset-low);
}
.outside.active {
  background: var(--gradient);
  box-shadow: var(--neu-shadow-inset-gradient);
}
.outside.active:hover {
  background: var(--gradient);
  box-shadow: var(--neu-shadow-inset-gradient-low);
}
.outside.active .toggle {
  background: var(--white);
}
.outside.native, .outside.native.active {
  width: 55px;
  margin: 0 auto;
  padding: unset;
  background: var(--grey);
  border-radius: var(--round-radius);
  box-shadow: var(--neu-shadow-inset);
  cursor: pointer;
  overflow: hidden;
}
.outside.native:hover, .outside.native.active:hover {
  box-shadow: var(--neu-shadow-inset-low);
}
.toggle {
  margin: calc(var(--spacing-xs) / 1.5);
  border-radius: var(--round-radius);
  background: var(--gradient);
}
.toggle i, .toggle p {
  font-size: 15px;
  line-height: 11px;
  color: var(--white);
}
.toggle p {
  font-size: 9px;
  text-transform: uppercase;
  padding-top: 3px;
  padding-right: 6px;
  opacity: 1;
}

/* Nav */
.nav-container {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100vw;
  height: var(--nav-height);
  background: var(--gradient);
  z-index: 1000;
}
nav {
  width: var(--view-clamp);
}
nav .logo-container {
  width: 170px;
  cursor: pointer;
  margin: unset;
  margin-bottom: -5px;
}
nav .connect-btn {
  margin-left: var(--spacing-md);
}
nav .outside.active, nav .outside.active:hover {
  background: var(--white);
  box-shadow: var(--neu-shadow-inset);
}
nav .outside.active .toggle {
  background: var(--gradient);
}
nav .outside.active .toggle i, nav .outside.active .toggle p {
  color: var(--white) !important;
  -webkit-text-fill-color: unset;
}

/* Proposals */
.proposals .stake {
  width: 100%;
  max-width: 300px;
  padding: var(--spacing-lg);
  box-shadow: var(--neu-shadow-inset);
  background: var(--light-grey);
  border-radius: var(--border-radius);
  transition: box-shadow var(--transition);
}
.proposals .stake:hover {
  box-shadow: var(--neu-shadow-inset-low);
}
.proposals .stake .wallet-overview {
  width: 100%;
}
.proposals .stake .wallet-overview span {
  color: var(--dark-grey);
}
.proposals .stake p {
  width: 100%;
  font-weight: 500;
  margin-bottom: var(--spacing-sm);
}
.proposals button {
  width: 100%;
  margin: var(--spacing-xs) 0;
}
.proposals button:first-of-type {
  margin-top: var(--spacing-lg);
}
.proposals .proposal-list {
  width: 100%;
  margin-left: 60px;
}
.proposals .proposal-list .text-link {
  margin-left: var(--spacing-lg);
}
.proposals .proposal {
  width: 100%;
  max-width: 250px;
  padding: var(--spacing-md);
  box-shadow: var(--neu-shadow);
  background: var(--light-grey);
  border-radius: var(--border-radius);
  transition: box-shadow var(--transition);
  margin: 0 var(--spacing-lg) var(--spacing-lg) 0;
  cursor: pointer;
}
.proposals .proposal:hover {
  box-shadow: var(--neu-shadow-low);
}
.proposals .proposal:active {
  box-shadow: var(--neu-shadow-inset-low);
  background: var(--light-grey);
  opacity: 0.9;
  transition: unset;
}
.proposals .proposal span:first-of-type {
  font-weight: 550;
}
.proposals .proposal p {
  margin: var(--spacing-lg) 0;
  font-size: 26px;
  line-height: 35px;
}
.proposals .proposal span:last-of-type {
  color: var(--dark-grey);
}

/* Proposal Detail */
.proposal-detail .details {
  width: 100%;
  max-width: 600px;
  padding: var(--spacing-lg) var(--spacing-xl);
  box-shadow: var(--neu-shadow);
  border-radius: var(--border-radius);
  margin: 0 var(--spacing-lg) var(--spacing-lg) 0;
}
.proposal-detail .details .headline {
  margin: var(--spacing-lg) 0;
  font-size: 22px;
  line-height: 35px;
}
.proposal-detail .details span:last-of-type {
  text-align: left;
  margin-bottom: 100px;
}

/* Terms and conditions */
.terms-conditions {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.terms-conditions a {
  opacity: 0.9;
  cursor: pointer;
  transition: opacity var(--transition);
}
.terms-conditions a:hover {
  opacity: 1;
}
.terms-conditions span {
  font-size: 10px;
}

/* Mobile styling */
@media screen and (max-width: 600px) {
  body {
    width: 100%;
    min-height: calc((var(--vh, 1vh) * 100) - var(--nav-height));
    margin: 0 0 calc(var(--nav-height) + var(--spacing-sm)) 0;
  }
  p {
    font-size: 14px;
  }
  .view-container {
    padding-bottom: var(--spacing-sm);
  }
  .view-container .connect-btn {
    display: none;
  }
  .view-section {
    margin: var(--spacing-sm);
  }
  .view-top {
    flex-direction: column;
    align-items: flex-start;
  }
  .view-title {
    font-size: 30px;
  }
  .view-header {
    font-size: 40px;
    line-height: 40px;
  }
  .view-header span {
    font-size: 20px;
    line-height: 10px;
  }
  .modal-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - var(--nav-height));
    opacity: 1;
  }
  .modal {
    position: fixed;
    left: 50%;
    top: calc(50% - (var(--nav-height) / 2));
  }
  .modal .close {
    right: var(--spacing-lg);
  }
  .modal-section {
    flex-direction: column;
  }
  .modal-header {
    font-size: 30px;
    line-height: 38px;
  }
  .modal-subheader {
    font-size: 20px;
  }
  .modal span {
    font-size: 10px;
    margin: var(--spacing-sm) 0;
  }
  .small-btn {
    font-size: 9px;
  }
  .nav-container {
    width: 100vw;
    top: unset;
    bottom: 0;
  }
  nav .logo-container {
    display: none;
  }
  input {
    font-size: 15px;
  }
  .input-btn {
    height: 41px;
  }
}