// Divider
.ant-divider {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15),
    inset 2px 2px 2px rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 0 6%;
  min-height: 3px;
}
.ant-divider-horizontal {
  margin-bottom: 28px;
}

// Progress bar
.ant-progress-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
  background-color: var(--white);
  box-shadow: inset -2px 0px 2px rgba(97, 95, 95, 0.5),
    inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}

// Input
.ant-input-number-input {
  width: 100%;
  padding: var(--spacing-md) var(--spacing-lg);
  margin: var(--spacing-xs) 0;
  box-shadow: var(--neu-shadow-inset);
  background: var(--grey);
  color: var(--input-color);
  font-size: 13px;
  border: none;
  border-radius: var(--border-radius);
  transition: box-shadow var(--transition);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.ant-input-number {
  border: none;
}

// Toggle switch
.ant-switch {

}

// Modal
.ant-modal-wrap {
  background: rgba(229, 235, 244, 0.9);
  .ant-modal-body, .ant-modal-content {
    min-width: 275px;
    max-width: 700px;
    box-shadow: var(--neu-shadow-low);
    background: var(--white);
    border-radius: var(--border-radius);
  }
}

// Card
.ant-card {
  width: 250px;
  height: 250px;
  padding: var(--spacing-md);
  box-shadow: var(--neu-shadow);
  background: var(--light-grey);
  border-radius: var(--border-radius);
  transition: box-shadow var(--transition);
  margin: 0 var(--spacing-lg) var(--spacing-lg) 0;
  cursor: pointer;
  color: var(--black);
  .ant-card-body {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header {
    line-height: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 7px;
  }
  // .headline {
  //   font-family: Helvetica Neue;
  //   font-style: normal;
  //   font-weight: 500;
  //   font-size: 22px;
  //   line-height: 27px;
  // }
}

.ant-card:hover {
  box-shadow: var(--neu-shadow-low);
}

// Buttons, default button
.ant-btn, .ant-btn[disabled], .ant-btn[disabled]:hover {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 4px;
	margin: 8px;
	padding: 0;
	cursor: pointer;
	border: 2px solid transparent;
	background-image: var(--gradient), var(--gradient);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 800px 0 0 0 var(--white) inset;
  span {
    font-family: 'Bicyclette-Bold', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    background: var(--gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: 0.2s;
    padding: 4px 10px 3px 10px !important
  }
}

.ant-btn[disabled], .ant-btn[disabled]:hover {
  opacity: var(--disabled-opacity);
  cursor: not-allowed;
}

.ant-btn:hover, .ant-btn:focus, button.active {
  border-color: transparent;
  background-image: var(--gradient), var(--gradient);
  background-origin: border-box;
  span {
    box-shadow: 0px 0px 0px 0px #fff inset;
    color: #ffffff;
    background-image: var(--gradient),
    var(--gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: none;
  }
}

// Primary button
.ant-btn-primary, .ant-btn-primary[disabled], .ant-btn-primary[disabled]:hover {
  border-color: transparent;
  background-image: var(--gradient), var(--gradient);
  background-origin: border-box;
  span {
    box-shadow: 0px 0px 0px 0px #fff inset;
    color: #ffffff;
    background-image: var(--gradient),
    var(--gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: none;
  }
}
.ant-btn-primary[disabled], .ant-btn-primary[disabled]:hover {
  opacity: var(--disabled-opacity);
}

// Dashed button
.ant-btn-dashed {
  background: transparent;
  font-family: "Bicyclette-Bold";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 4px;
  padding: 0;
  background: transparent;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: none;
  span {
    color: #ffffff;
    padding: 9px 15px 6px 15px !important;
  }
}
.ant-btn-dashed:hover,
.ant-btn-dashed:focus {
  border-color: #ffffff;
  background: #ffffff;
  span {
    background: var(--gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
.ant-btn-dashed[disabled], .ant-btn-dashed[disabled]:hover, .ant-btn-dashed[disabled]:focus, .ant-btn-dashed[disabled]:active {
    background: transparent;
    font-family: "Bicyclette-Bold";
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.1em;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
    padding: 0;
    background: transparent;
    cursor: pointer;
    transition: 0.2s;
    span {
      padding: 9px 15px 6px 15px !important;
    }
  }

// List items
.ant-list-split .ant-list-item {
  border-bottom: none;
}