@import "~antd/es/style/themes/dark.less";
@import "~antd/dist/antd.dark.less";

// Divider
.ant-divider {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15),
    inset 2px 2px 2px rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 0 6%;
  min-height: 3px;
}
.ant-divider-horizontal {
  margin-bottom: 28px;
}

// Modal
.ant-modal-wrap {
  background: rgba(229, 235, 244, 0.9);
  .ant-modal-body, .ant-modal-content {
    min-width: 275px;
    max-width: 700px;
    box-shadow: var(--neu-shadow-low);
    background: var(--white);
    border-radius: var(--border-radius);
  }
}

// Card
.ant-card {
  width: 250px;
  height: 250px;
  padding: var(--spacing-md);
  box-shadow: var(--neu-shadow);
  background: var(--light-grey);
  border-radius: var(--border-radius);
  transition: box-shadow var(--transition);
  margin: 0 var(--spacing-lg) var(--spacing-lg) 0;
  cursor: pointer;
  .ant-card-body {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header {
    line-height: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 7px;
  }

  .headline {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
  }
  .details {
    .active {
      color: var(--jet-green);
    }
    .inactive {
      color: var(--status-inactive);
    }
    .rejected {
      color: var(--status-rejected);
    }
    .passed {
      color: var(--status-passed);
    }
  }
}

.ant-card:hover {
  box-shadow: var(--neu-shadow-low);
}

// Buttons
.ant-btn {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 4px;
	margin: 8px;
	padding: 0;
	cursor: pointer;
	border: 2px solid transparent;
	background-image: var(--gradient), var(--gradient);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 800px 0 0 0 var(--white) inset;
  span {
    font-family: 'Bicyclette-Bold', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    background: var(--gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: 0.2s;
    padding: 4px 10px 3px 10px !important
  }
}

.ant-btn:hover, .ant-btn:focus, button.active {
  border-color: transparent;
  background-image: var(--gradient), var(--gradient);
  background-origin: border-box;
  span {
    box-shadow: 0px 0px 0px 0px #fff inset;
    color: #ffffff;
    background-image: var(--gradient),
    var(--gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: none;
  }
}

// Primary button
.ant-btn-primary {
  border-color: transparent;
  background-image: var(--gradient), var(--gradient);
  background-origin: border-box;
  span {
    box-shadow: 0px 0px 0px 0px #fff inset;
    color: #ffffff;
    background-image: var(--gradient),
    var(--gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: none;
  }
}

// Dashed button
.ant-btn-dashed {
  background: transparent;
  font-family: "Bicyclette-Bold";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 4px;
  padding: 0;
  background: transparent;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: none;
  span {
    color: #ffffff;
    padding: 9px 15px 6px 15px !important;
  }
}
.ant-btn-dashed:hover,
.ant-btn-dashed:focus {
  border-color: #ffffff;
  background: #ffffff;
  span {
    background: var(--gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
.ant-btn-dashed[disabled], .ant-btn-dashed[disabled]:hover, .ant-btn-dashed[disabled]:focus, .ant-btn-dashed[disabled]:active {
    background: transparent;
    font-family: "Bicyclette-Bold";
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.1em;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
    padding: 0;
    background: transparent;
    cursor: pointer;
    transition: 0.2s;
    span {
      padding: 9px 15px 6px 15px !important;
    }
  }